<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})" >
<head>
	<meta charset="UTF-8"  />
	<title>Document</title>
</head>
<body>
	<section>
	
	<div class="container">
		
		<div class="card-body mt-5">
				 <div class="container text-center">
					  <img src="" style="height:200px ; width: 200px;" class="my_profile_picture" th:src="@{'/img/user_dashboard.jpg'}" alt="profile photo"/>
				 </div>
           <h1 class="text-center mt-3 text-secondary font-italic font-light">
			   Start Adding your contact on cloud....
		   </h1>
			
			<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-4">Add new Contact</a>
			
		</div>
		
	</div>
	
	</section>
</body>
</html>





