<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
	<meta charset="UTF-8"  />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">
						
						<div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                         <p class="text-center" th:text="${session.message.content}"></p>
                         <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        </div>
						
						<div class="container text-center">
							<img style="width: 80px;" src="" th:src="@{/img/membership.png}" alt=""/>
							
						</div>
						
						<h1 class="text-center">Register Here!!</h1>
						
						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
							
		     		<!--name field-->
							
				   <div class="form-group">
   
                    <label for="exampleInputEmail1">Your Name</label>
   
                     <input 
                     name="name"
                     type="text" 
                     class="form-control" 
                     th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                     id="name_field" 
                     aria-describedby="emailHelp" 
                     placeholder="Enter here"
                     required
                     th:value="${user.email}"
                      />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <!-- <div class="invalid-feedback" th:each="e: $(#fields.errors('name'))" th:text="${e}"> </div>-->
                     
                    
  
                     </div>
							
		     		<!--Email field-->
							
				   <div class="form-group">
   
                    <label for="exampleInputEmail1">Your Email</label>
   
                     <input 
                     name="email"
                     type="email" 
                     class="form-control"
                     th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}" 
                     id="email_field" 
                     aria-describedby="emailHelp" 
                     placeholder="Enter here"
                     required
                      />
                     <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  
                     </div>
		     		
		     		
		     		<!--Password field-->
							
				   <div class="form-group">
   
                    <label for="exampleInputEmail1">Your Password</label>
   
                     <input 
                     name="password"
                     type="password" 
                     class="form-control"
                      th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}"  
                     id="password_field" 
                     aria-describedby="emailHelp" 
                     placeholder="Enter here"
                     required
                      />
                     <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  
                     </div>
                     
                     
                    <!-- user about filed-->
							
							<div class="form-group">About
								<textarea name="about" th:value="${user.about}" placeholder="Enter some thing about yourself" rows="6" class="form-control"></textarea>
								
							</div>
							
						<!--trems and condetions-->
							
							<div class="form-group form-check">
								<input type="checkbox"
								name="agreement"
								class="form-check-input"
								id="agreement"
								/>
								<label for="agreement">Accept terms and conditions</label>
								
							</div>
							
							
							<div class="container text-center">
								<button type="submit" class="btn bg-primary btn-block text-white">Submit</button>
								<button type="reset" class="btn btn-block btn-warning">Reset</button>
							</div>
							
						</form>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</section>
</body>
</html>





